body {
  margin: 0;
  font-family: "Barlow";
}

h1, h2, h3, h4 {
  font-family: "Space Mono";
}

h1 {
  font-size: 78px;
}

h2 {
  font-size: 42px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

a {
  color: #F79F1F;
}

#title-text {
  margin: 0;
  white-space: pre-wrap;
}


.landing-container {
  position: relative;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  color: white;
  padding: 10vh 0 10vh 0;
  background-color: #121212;
  overflow: hidden;
}

.patterns {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;

  /* background zoom in */
  animation-name: background-zoomin;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.84,.03,.96,.05);
  overflow: hidden;
}

.title-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-left: 20%;
  width: 80%;
  /*margin-top: -20px;*/
  opacity: 0;
  animation-name: fadein;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.timeline-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#title-logo {
  width: 45px;
  height: intrinsic; /* Safari */
}

#birth-container {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-end;
}

#birth {
  margin-right: 10px;
  display: block;
  font-size: 14px;
}

#death-container {
  display: flex;
  width: 20%;
  align-items: center;
}

#death {
  margin-left: 10px;
  display: block;
  justify-content: flex-start;
  font-size: 14px;
}

#timeline-border {
  width: 60%;
  height: 16px;
  box-shadow:inset 0px 0px 0px 4px white;
  /* zoom effect */
  transform-origin: top left;
  animation-name: zoomin;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.84,.03,.96,.05);
}

#timeline-fill {
  height: 100%;
  width: 24%;
  background-color: white;
  animation-name: fill;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.interests-container {
  position: absolute;
  top: 40vh;
  left: 0;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top left;
  opacity: 0;
  /* background zoom in */
  animation-name: fadein;
  animation-delay: 7s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.interests-text {
  color: black;
  padding: 0 20% 0 20%;
}


.timeline-marker {
  position: absolute;
  height: 30px;
  width: 5px;
  border-left-style: solid;
  border-left-width: 3px;
  border-color: white;
  /* fade out */
  animation-name: fadeout;
  animation-delay: 4.3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#birth, #death {
  animation-name: fadeout;
  animation-delay: 3.8s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.top-marker {
  border-top-style: solid;
  border-top-width: 3px;
  bottom: 50px;
}

.bottom-marker {
  border-bottom-style: solid;
  border-top-width: 3px;
  top: 50px;
}

#marker-1 {
  left: 20%;
}

#marker-2 {
  left: 50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

#marker-3 {
  left: 31%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

#marker-4 {
  left: 34%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.timeline-image {
  height: 40px;
  position: absolute;
}

#g-logo {
  margin-top: -12px;
  margin-left: 5px;
}

#flag {
  margin-top: -20px;
  margin-left: 5px;
}

#d-logo {
  margin-top: 20px;
  margin-left: 3px;
}

#marker-2-text {
  margin: 0;
  margin-top: -20px;
  margin-left: 5px;
}


@keyframes fill {
  from {width: 0;}
  to {width: 24%;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes zoomin {
  from {
    transform: translate(0vw, 0) scale(1, 1);
    padding: 0;
  }
  to {transform: translate(-25vw, -26vh) scale(80, 80);}
}

@keyframes mobile-zoomin {
  from {
    transform: translate(0vw, 0) scale(1, 1);
    padding: 0;
  }
  to {transform: translate(-20vw, -26vh) scale(40, 40);}
}

@keyframes background-zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(2, 2);}
}

@keyframes text-zoomin {
  from {transform: translate(22vw, 27vh) scale(.01, .01);}
  to {transform: translate(0, 0) scale(1, 1);}
}


@media screen and (max-aspect-ratio: 1920/1080) {

}
@media screen and (min-aspect-ratio: 1920/1080) {

}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 600px) {
  .timeline-image {
    height: 30px;
  }
}


@media only screen and (max-width: 425px) {
  .title-container {
    padding: 0 0 0 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #birth, #death {
    display: none;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 14px;
  }

  #marker-1, #marker-2, #marker-4 {
    bottom: 44px;
  }

  #marker-3 {
    top: 44px;
  }

  #timeline-border {
    width: 90%;
    height: 24px;
  }

  .timeline-image {
    height: 22px;
  }

  #marker-1 {
    left: 15.2%;
  }

  #flag {
    margin-top: -13px;
  }

  #marker-3 {
    left: 27%;
  }

  #d-logo {
    margin-top: 13px;
  }

  #marker-4 {
    left: 29%;
    display: block;
  }

  #marker-2-text {
    font-size: 18px;
    margin-top: -16px;
  }

}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 38px;
  }

  p {
    font-size: 14px;
  }

  #marker-1 {
    left: 15.4%;
  }

}
