body {
  margin: 0;
  font-family: "Barlow";
}

h1, h2, h3, h4 {
  font-family: "Space Mono";
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

a {
  color: #F79F1F;
}

#title-text {
  margin: 0;
  white-space: pre-wrap;
}


#cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  opacity: 0;
}


.landing-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.landing-subtitle {
  bottom: 0;
  margin-bottom: -40px;
  z-index: 2;
  text-align: center;
  opacity: 0;
  animation-name: fadein;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.title-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  z-index: 2;
  margin-top: -20px;
  opacity: 0;
  animation-name: fadein;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.timeline-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
}

#title-logo {
  width: 45px;
  height: intrinsic; /* Safari */
}

#birth-container {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-end;
}

#birth {
  margin-right: 10px;
  display: block;
  font-size: 14px;
}

#death-container {
  display: flex;
  width: 20%;
  align-items: center;
}

#death {
  margin-left: 10px;
  display: block;
  justify-content: flex-start;
  font-size: 14px;
}

#timeline-border {
  width: 60%;
  height: 16px;
  box-shadow:inset 0px 0px 0px 4px black;
}

#timeline-fill {
  height: 100%;
  width: 24%;
  background-color: black;
  animation-name: fill;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.interests-container {
  padding: 0 15% 0 15%;
  color: #171717;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 40vh;
  justify-content: space-between;
  z-index: -2;
  flex-wrap: wrap;
}

.list-heading {
  margin-bottom: 5px;
  margin-top: 5px;
}

.interests-text {
  max-width: 30vw;
}

.highlighted-text {
  background-color: #171717;
  padding: 5px 0 5px 0;
}

.timeline-marker {
  position: absolute;
  height: 30px;
  width: 5px;
  border-left-style: solid;
  border-left-width: 3px;
  border-color: black;
}

.top-marker {
  border-top-style: solid;
  border-top-width: 3px;
}

.bottom-marker {
  border-bottom-style: solid;
  border-top-width: 3px;
}

#marker-1 {
  left: 20%;
  bottom: 50px;
}

#marker-2 {
  left: 50%;
  bottom: 50px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

#marker-3 {
  left: 31%;
  top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.timeline-image {
  height: 40px;
  position: absolute;
}

#flag {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-left-width: 1px;
  margin-top: -20px;
  margin-left: 5px;
}

#d-logo {
  margin-top: 20px;
  margin-left: 3px;
}

#marker-2-text {
  margin: 0;
  margin-top: -20px;
  margin-left: 5px;
}

.text-shadow {
  text-shadow: 0 2 4 rgba(0,0,0,.5);
}

.photo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#interest-section-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}

.background-photo {
  position: absolute;
  transition: opacity .2s;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  opacity: 0;
}

.background-video {
  transition: opacity .2s;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  opacity: 0;

}

.interests-overlay {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 20px solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto 0; /* Gives that scrolling effect as the typing happens */
  width: 0;
}

.section-title-container {
  padding-left: 20%;
  z-index: 3;
  margin-top: 40vh;
  margin-bottom: 40vh;
  color: white;
  width: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.section-subtitle-container {
  padding-left: 20%;
  color: white;
  width: fit-content;
}

#section-title-text-1 {
}

.section-subtitle {
  animation-delay: 3.75s;
  animation-fill-mode: forwards;
  border-color: transparent;
  border-width: 0;
}

.typewriter {
  /*letter-spacing: em; /* Adjust as needed */
  animation:
    typing 1s steps(12, end) forwards,
    blink-caret .75s step-end 3 forwards;

}

.subtitle-typewriter {
  animation:
    typing 3s 2.5s steps(40, end) forwards,
    blink-caret .75s 2.5s step-end 5 forwards;
  border-right: 20px solid orange !important; /* The typwriter cursor */
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes fill {
  from {width: 0;}
  to {width: 24%;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}


@media screen and (max-aspect-ratio: 1920/1080) {
  #interest-section-video {
    height: 100%;
  }

}
@media screen and (min-aspect-ratio: 1920/1080) {
  #interest-section-video {
    width: 100%;
  }

}

@media only screen and (max-width: 1024px) {
  .interests-text {
    max-width: 50vw;
  }
}

@media only screen and (max-width: 600px) {
  .timeline-image {
    height: 30px;
  }

  .timeline-marker {
    height: 40px;
  }
}


@media only screen and (max-width: 425px) {
  h1 {
    font-size: 35px;
  }

  h4 {
    font-size: 18px;
  }

  #birth, #death {
    font-size: 10px;
  }

  #marker-1, #marker-2 {
    bottom: 44px;
  }

  #marker-3 {
    top: 44px;
  }

  .section-title-container {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .interests-container {
    justify-content: center;
    padding: 0 9% 0 9%;
  }

  .interests-text{
    max-width: 100%;
  }

  .list-heading {
    font-size: 28px;
  }
}
