@font-face {
  font-family: Matrix;
  src: url(matrix_bold.ttf);
}

html {
  font-size: 12px;

}

body {
  margin: 0;
  background-color: #113D30;
}

h1, h2, h3, h4 {
  font-family: "Matrix", serif;
  color: #EFC000;
}

h1 {
  font-size: 5rem;
}

p {
  font-family: "Futura", sans-serif;
  color: white;
  font-size: 18px;
  font-size: 1.5rem;
  line-height: 1.5em;
}

a {
  color: #EFC000;
}

.decor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: #F5F5F5;
  border-width: 1px;
}

.outer-border {
  margin: 50px 30px;
  overflow-y: auto;
}

.inner-border {
  margin: 30px 50px;
}

.title {
  margin-bottom: 0;
  width: 80%;
  letter-spacing: 7px;
}

.bio {
  width: 80%;
  z-index: 1;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0px 20px 0px 20px;
  min-height: 100%;
}


@media only screen and (min-width: 1441px) {
  .title {
    font-size: 5vw;
  }

  .bio {
    font-size: 1.5vw;
  }

  /* fix height and width for lulz */
  .outer-border {
    width: 1378px;
    height: 616px;
    margin: auto;
  }

  .inner-border {
    width: 1338px;
    height: 656px;
    margin: auto;
  }

  .title {
    font-size: 60px;
  }

  .bio {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 8vw;
  }

  .bio {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 8vw;
  }

  .bio {
    font-size: 3.6vw;
  }
}

@media only screen and (max-width: 375px) {
  .title {
    font-size: 7vw;
  }

  .bio {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 320px) {
  .title {
    font-size: 5.7vw;
  }
}
